#smallimg img{
    border-radius: 20px;
    height: 250px;
    width: auto;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

#smallimg img:hover{
    transform: scale(1.05);
}